
.new-feed{
    display:flex;
    
    background: #efefec;
  }
  .new-feed-text{
    display:flex;
    
  }
  .new-feed-text {
    background: #424242;
      padding: 1px 60px 0 20px;
      display: inline-block;
      position: relative;
      color:white;
  }
  .new-feed p{
    margin: 1px 
  }
  .new-feed-text:before {
    border-right: 17px solid #EFEFEC;
    border-top: 20px solid transparent;
    bottom: 0;
    content: "";
    display: inline-block;
    right: 0;
    position: absolute;
  }
  .new-feed-text:after {
    border-bottom: 20px solid transparent;
    border-right: 17px solid #EFEFEC;
    content: "";
    display: inline-block;
    right: 0;                                 
    position: absolute;
    top: 0;
  }
  .prev, .next{
    margin: 1px 10px;
  }
  